extends layout

block content
  h1= title
  p  #{message} 
  p  #{context.retries} try 
  p  #{context.retriesJump} try 
  ul
  each action in actions 
    li
      a(href="/?action="+action) #{action}